---
layout: default
---

<h1 class="page-heading">Announcement</h1>
<p>A change to the "Biographies" section Should have a positive out come on both the "Biographies" section and on the "Posts" section after a few weeks I will remove this announcement as it should no longer be needed, but it will remain as a comment on the discussions section of Github under Announcements which visitors can get to via clicking on the "More" link in the menu section.</p>
<p>Details are on the <a href="/announcements">Announcements</a> page comment number 2 or via the discussions section on Github under Announcements this <a class="external-link" href="https://github.com/FanzOfLenaZavaroni/fanzoflenazavaroni.github.io/discussions/2#discussioncomment-5321844">link</a> will taken you to the related comment under Announcements.</p>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.maintitle | escape }}
          </a>
        </h3>
        <strong>Details: </strong>
        {%- if site.show_excerpts -%}
          {{ post.post_description }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
