---
layout: default
---

<h1 class="page-heading">Announcement - Dated: 22 November 2023</h1>
<p>I am currently working to fix all the links/URLs broken by the changes to the British Film Institute (BFI) website.</p>
<p>Details are on the <a href="/announcements">Announcements</a> page or via the discussions section on Github under Announcements this <a class="external-link" href="https://github.com/FanzOfLenaZavaroni/fanzoflenazavaroni.github.io/discussions/32#discussioncomment-7643037">link</a> will taken you to the related comment under Announcements.</p>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.maintitle | escape }}
          </a>
        </h3>
        <strong>Details: </strong>
        {%- if site.show_excerpts -%}
          {{ post.post_description }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
