---
layout: default
---

    <header class="post-header">
      <h1 class="post-title p-name infobox" itemprop="name headline" id="{{ page.maintitle | escape }}">
        <a href="#{{ page.maintitle | escape }}" class="warning">{{ page.maintitle }}</a>
      </h1>
      <h2 class="split">{{ page.subtitle-posts }}</h2>
      <p class="post-meta">{{ page.sub-subtitle-posts }}</p>
    </header>

{%- assign posts_by_date = site.posts | group_by_exp: "post", "post.date | date: '%Y-%m-%d'" -%}

{%- for date in posts_by_date -%}
      <h2 class="date-heading infobox">{{ date.name | date: "%-d %B %Y" }}</h2> <!-- Corrected date format -->
      <ul class="post-list split">
        {%- for post in date.items -%}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.maintitle }}
            </a>
          </h2>
          <strong>Details: </strong>
          {%- if site.show_excerpts -%}
            {{ post.post_description }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
{%- endfor -%}
