---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

<figure class="fig3">
<div class="CardLayout">
<div class="CardItem">
  <header class="post-header">
<h2 class="post-title" id="{{ page.maintitle | escape }}"><a href="#{{ page.maintitle | escape }}">{{ page.maintitle }} {{ 'now' | date: "%Y" }}</a></h2>
</header>
</div>
<div class="CardItem split">
<div class="post-content">
    {{ content }}
  </div>
</div>
</div>
</figure>

<figure class="fig3">
<div class="CardLayout">
<div class="CardItem">
<h2 id="comments"><a title="Category=General" href="#comments">Comments</a></h2>
<div class="CardItem split">
<script src="https://giscus.app/client.js"
        data-repo="FanzOfLenaZavaroni/fanzoflenazavaroni.github.io"
        data-repo-id="R_kgDOIf0PVA"
        data-category="General"
        data-category-id="DIC_kwDOIf0PVM4CSviz"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</div>
</div>
</figure>
  
</article>
